<!DOCTYPE html>
<html lang="en">
{% load static %}
<body>
    <!-- LOADER -->
    <div id="preloader">
        <div class="loader">
            <img src="{% static 'img/loader.gif' %}" alt="#" />
        </div>
    </div>
    <!-- end loader -->
    <!-- END LOADER -->

    <!-- Start header -->
    <header class="top-header">
        <div class="header_top">

            <div class="container">
                <div class="row">
                    <div class="logo_section">
                        <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'img/logo.png' %}" alt="image"></a>
                    </div>
                    <div class="site_information">
                        <ul>
                            <li><a href="mailto:exchang@gmail.com"><img src="{% static 'img/mail_icon.png' %}" alt="#" />midrees8544@gmail.com</a></li>
                            <li><a href="tel:exchang@gmail.com"><img src="{% static 'img/phone_icon.png' %}" alt="#" />+971581639749</a></li>
                            <li><a class="join_bt" href="#">Join us</a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <div class="header_bottom">
          <div class="container">
            <div class="col-sm-12">
                <div class="menu_orange_section" style="background: #ff880e;">
                   <nav class="navbar header-nav navbar-expand-lg">
                     <div class="menu_section">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-wd" aria-controls="navbar-wd" aria-expanded="false" aria-label="Toggle navigation">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbar-wd">
                    <ul class="navbar-nav">
                        <li><a class="nav-link active" href="{% url 'home' %}">Home</a></li>
                        <li><a class="nav-link" href="{% url 'about' %}">About</a></li>
                        <li><a class="nav-link" href="{% url 'exchange' %}">Exchange</a></li>
                        <li><a class="nav-link" href="{% url 'services' %}">Services</a></li>
                        <li><a class="nav-link" href="{% url 'news' %}">News</a></li>
                        <li><a class="nav-link" href="{% url 'contact' %}">Contact</a></li>
                    </ul>
                </div>
                     </div>
                 </nav>
                 <div class="search-box">
                    <input type="text" class="search-txt" placeholder="Search">
                    <a class="search-btn">
                        <img src="{% static 'img/search_icon.png' %}" alt="#" />
                    </a>
                </div>
                </div>
            </div>
          </div>
        </div>

    </header>
    <!-- End header -->

</body>
</html>