{% extends 'main.html' %}
{% load static %}
{% block content %}

<body id="inner_page" data-spy="scroll" data-target="#navbar-wd" data-offset="98">

    <!-- Start Banner -->
    <div class="section inner_page_banner">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="banner_title">
                        <h3>Contact</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Banner -->
    
   <!-- section -->
    <div class="section layout_padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="full">
                        <div class="heading_main text_align_center">
                           <h2><span class="theme_color"></span>Contact</h2>    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end section -->

    <!-- contact_form -->
    <div class="section contact_form">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-12 offset-lg-3">
                    <div class="full">
                        <form class="contact_form_inner" action="#" method="POST">
                            {% csrf_token %}
                            <fieldset>
                                {% for fields in form %}
                                <div class="field">
                                    {{fields}}
                                </div>
                                {% endfor %}
                                <div class="field">
                                    <textarea placeholder="Message" name="message"></textarea>
                                </div>
                                <div class="field center">
                                    <button value="submit" type="submit">SEND</button>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end contact_form -->
{% endblock content %}